{% extends base_template %}
{% load i18n xadmin_tags %}

{% load crispy_forms_tags %}

{% block body %}
<div class="container">

  <form action="" method="post" id="password-reset-form" {% view_block 'form_tag_attrs' %}>
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6">
        <div class="card shadow-lg mt-5">
          {% csrf_token %}
          <div class="card-header">
            <h3 class="form-signin-heading">{% trans "Password reset" %}</h3>
          </div>
          <div class="card-body">
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

            {% include 'bootstrap5/errors.html' %}

            <div id="div_id_email" class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="id_email">
                  <i class="fa fa-envelope-square"></i>
                </label>
              </div>
              <input class="form-control {% if form.email.errors %} is-invalid{% endif %}"
                     id="id_email" name="email" type="text"
                     placeholder="{% trans 'E-mail address:' %}">
              {% for error in form.email.errors %}
                  <div class="invalid-feedback" id="error_{{ forloop.counter }}_{{ form.email.auto_id }}">{{ error }}</div>
              {% endfor %}
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Reset my password' %}</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div> <!-- /container -->

<script type="text/javascript">
document.getElementById('id_email').focus()
</script>
{% endblock %}