{% load i18n %}
  <li class="page-item disabled page-item-first">
      <a class="page-link" href="#" tabindex="-1">
          <span class="text-success page-result-count">{{ cl.result_count }}</span>
          <span>
              {% if cl.result_count == 1 %}
                  {{ cl.opts.verbose_name }}{% else %}
                  {{ cl.opts.verbose_name_plural }}
              {% endif %}
          </span>
      </a>
  </li>
  {% if pagination_required %}
    {% for num in page_range %}
        <li class="page-item {% if 'this-page' in num %}disabled{% endif %}">
            {{ num }}
        </li>
    {% endfor %}
  {% endif %}
  {% if show_all_url %}
    <li class="page-item">
        <a href="{{ show_all_url }}" class="page-link showall" tabindex="-1">{% trans 'Show all' %}</a>
    </li>
  {% endif %}
