{% extends base_template %}
{% load i18n xadmin_tags %}

{% load crispy_forms_tags %}

{% block bodyclass %}login{% endblock %}

{% block body %}
<div class="container">

  <form action="" method="post" id="login-form" {% view_block 'form_tag_attrs' %}>
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-sm-9 col-md-7 col-lg-5 col-xl-4">
        <div class="card shadow-lg mt-5" id="panel-login">
        {% csrf_token %}
        {% block login_form %}
          <div class="card-header">
            {% block login_heading %}
            <h2 class="form-signin-heading">{% if title %}{{title}}{% else %}{% trans "Please Login" %}{% endif %}</h2>
            {% endblock %}
          </div>
          <div class="card-body">

          {% view_block 'form_top' %}

          {% include 'bootstrap5/errors.html' %}

          <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                  <label class="input-group-text" for="id_username">
                      <i class="fa fa-user fa-fw"></i>
                  </label>
              </div>
              <input class="form-control {% if form.username.errors %}is-invalid{% endif %}"
                     id="id_username" maxlength="254" name="username" type="text"
                     placeholder="{% trans "Username" %}">
              {% for error in form.username.errors %}
                  <div class="invalid-feedback" id="error_{{ forloop.counter }}_{{ form.password.auto_id }}">{{ error }}</div>
              {% endfor %}
          </div>

          <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                  <label class="input-group-text" for="id_password">
                      <i class="fa fa-lock fa-fw"></i>
                  </label>
              </div>
              <input class="form-control h-auto {% if form.password.errors %}is-invalid{% endif %}"
                     id="id_password" name="password" type="password"
                     placeholder="{% trans "Password" %}">
              {% for error in form.password.errors %}
                   <div class="invalid-feedback" id="error_{{ forloop.counter }}_{{ form.password.auto_id }}">{{ error }}</div>
              {% endfor %}
          </div>

          <input type="hidden" name="this_is_the_login_form" value="1" />
          <input type="hidden" name="next" value="{{ next }}" />

          <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'log in' %}</button>

          {% view_block 'form_bottom' %}
          </div>
        {% endblock %}
        </div>
      </div>
    </div>
  </form>

</div> <!-- /container -->

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
{% endblock %}
