{% load i18n %}
<div class="dropdown-submenu filter-fk-search">
  <a class="dropdown-item">
      <i class="fa fa-filter {% if spec.is_used %}text-success{%else%}text-muted{% endif %}"></i>
      {{ title }}
  </a>
  <div class="popover bs-popover-right">
    <div class="arrow"></div>
    <h6 class="popover-header">
      {% trans "Search" %} {{title}}
    </h6>
    <div class="popover-body">
      <form class="exform" method="get" action="">
        {{ form_params|safe }}
          <select name="{{in_name}}", data-value="{{in_val}}"  class="select-search {% if relfield_style == 'fk-select' %}select-preload{% endif %}"
                  data-search-url="{{search_url}}" data-choices="{{ choices }}" multiple="multiple"
          {% if relfield_style == 'fk-select' %}
          data-placeholder="{% trans "Select" %} {{title}}…"
          {% else %}
          data-placeholder="{% trans "Search" %} {{title}}…"
          {% endif %}
          >

          </select>
          <button type="submit" class="btn btn-success btn-sm" onclick="unify_options_id_values('{{in_name}}')">{% trans "Apply" %}</button>

          <a class="btn btn-danger btn-sm" href="{{remove_url}}">{% trans "Clean" %}</a>
      </form>
    </div>
  </div>
</div>
