{% load i18n %}


<div class="dropdown-submenu filter-number">
    <a class="dropdown-item">
        <i class="fa fa-filter {% if spec.is_used %}text-success{%else%}text-muted{% endif %}"></i>
        {{ title }}
    </a>
    <div class="popover bs-popover-right p-2">
        <div class="arrow"></div>
        <h6 class="popover-title">{% trans "Search" %} {{title}}</h6>
        <div class="popover-content">
            <form method="get" action="">
                {{ form_params|safe }}
                <div class="d-flex flex-column">


                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <a href="#"
                               onclick="var el = document.getElementById('dropdown-menu-equal-{{title}}'); if (el.style.display === 'none') { el.style.display = 'block'; } else { el.style.display = 'none'; }">
                                <span class="number-filter-input-type-selector btn btn-outline-secondary""><span
                                    id="input-group-text-1-value-{{title}}">{%if ne_val%}!={%else%}={%endif%}</span><span class="caret"></span></a>
                            <ul class="dropdown-menu" id="dropdown-menu-equal-{{title}}" style="display:none">
                                <a class="btn toggle "
                                   onmouseover="$(this).css('background-color', 'rgba(0, 0, 0, 0.05)');"
                                   onmouseout="$(this).css('background-color', 'white');"
                                   data-toggle="button"
                                   onclick="document.getElementById('input-group-text-1-value-{{title}}').innerHTML = '!=';
                                   var el = document.getElementById('dropdown-menu-equal-{{title}}'); if (el.style.display === 'none') { el.style.display = 'block'; } else { el.style.display = 'none'; }"
                                   style="display: flex" data-off-name="{{equal_name}}" data-on-name="{{ne_name}}">
                                    <span class="text-monospace">!=</span>
                                </a>
                                <a class="btn toggle"
                                   onmouseover="$(this).css('background-color', 'rgba(0, 0, 0, 0.05)');"
                                   onmouseout="$(this).css('background-color', 'white');"
                                   data-toggle="button"
                                   onclick="document.getElementById('input-group-text-1-value-{{title}}').innerHTML = '=';
                                   var el = document.getElementById('dropdown-menu-equal-{{title}}'); if (el.style.display === 'none') { el.style.display = 'block'; } else { el.style.display = 'none'; }"
                                   style="display: flex" data-off-name="{{ne_name}}" data-on-name="{{equal_name}}">
                                    <span class="text-monospace">=</span>
                                </a>
                            </ul>
                            <input name="{%if ne_val %}{{ne_name}}{% else %}{{equal_name}}{%endif%}"
                                   class="form-control"
                                   type="number" value="{%if ne_val %}{{ne_val}}{% else %}{{equal_val}}{%endif%}"
                                   placeholder="{% trans " Enter Number" %}"/>
                        </div>
                    </div>


                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <a href="#"
                               onclick="var el = document.getElementById('dropdown-menu-gte-{{title}}'); if (el.style.display === 'none') { el.style.display = 'block'; } else { el.style.display = 'none'; }"><span
                                    class="number-filter-input-type-selector btn btn-outline-secondary"><span
                                    id="input-group-text-2-value-{{title}}">{% if gte_val %}&gt;={%else%}&gt;{%endif%}</span><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" id="dropdown-menu-gte-{{title}}" style="display:none">
                                <a class="btn toggle "
                                   onmouseover="$(this).css('background-color', 'rgba(0, 0, 0, 0.05)');"
                                   onmouseout="$(this).css('background-color', 'white');"
                                   data-toggle="button"
                                   onclick="document.getElementById('input-group-text-2-value-{{title}}').innerHTML = '&gt;=';
                                   var el = document.getElementById('dropdown-menu-gte-{{title}}'); if (el.style.display === 'none') { el.style.display = 'block'; } else { el.style.display = 'none'; }"
                                   style="display: flex" data-off-name="{{gt_name}}" data-on-name="{{gte_name}}">
                                    <span class="text-monospace">&gt;=</span>
                                </a>
                                <a class="btn toggle"
                                   onmouseover="$(this).css('background-color', 'rgba(0, 0, 0, 0.05)');"
                                   onmouseout="$(this).css('background-color', 'white');"
                                   data-toggle="button"
                                   onclick="document.getElementById('input-group-text-2-value-{{title}}').innerHTML = '&gt;';
                                   var el = document.getElementById('dropdown-menu-gte-{{title}}'); if (el.style.display === 'none') { el.style.display = 'block'; } else { el.style.display = 'none'; }"
                                   style="display: flex" data-off-name="{{gte_name}}" data-on-name="{{gt_name}}">
                                    <span class="text-monospace">&gt;</span>
                                </a>

                            </ul>
                            <input name="{%if gte_val %}{{gte_name}}{% else %}{{gt_name}}{%endif%}"
                                   class="form-control"
                                   type="number" value="{%if gte_val %}{{gte_val}}{% else %}{{gt_val}}{%endif%}"
                                   placeholder="{% trans " Enter Number" %}"/>
                        </div>

                    </div>


                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <a href="#"
                               onclick="var el = document.getElementById('dropdown-menu-lte-{{title}}'); if (el.style.display === 'none') { el.style.display = 'block'; } else { el.style.display = 'none'; }"><span
                                    class="number-filter-input-type-selector btn btn-outline-secondary "><span
                                    id="input-group-text-3-value-{{title}}">{% if lte_val %}&lt;={%else%}&lt;{%endif%}</span><span class="caret"></span></a>
                            <ul class="dropdown-menu" id="dropdown-menu-lte-{{title}}" style="display:none">
                                <a class="btn toggle "
                                   onmouseover="$(this).css('background-color', 'rgba(0, 0, 0, 0.05)');"
                                   onmouseout="$(this).css('background-color', 'white');"
                                   data-toggle="button" onclick="document.getElementById('input-group-text-3-value-{{title}}').innerHTML = '&lt;=';
                                   var el = document.getElementById('dropdown-menu-lte-{{title}}'); if (el.style.display === 'none') { el.style.display = 'block'; } else { el.style.display = 'none'; }"
                                   style="display: flex" data-off-name="{{lt_name}}" data-on-name="{{lte_name}}">
                                    <span class="text-monospace">&lt;=</span>
                                </a>
                                <a class="btn toggle"
                                   onmouseover="$(this).css('background-color', 'rgba(0, 0, 0, 0.05)');"
                                   onmouseout="$(this).css('background-color', 'white');"
                                   data-toggle="button" onclick="document.getElementById('input-group-text-3-value-{{title}}').innerHTML = '&lt;';
                                   var el = document.getElementById('dropdown-menu-lte-{{title}}'); if (el.style.display === 'none') { el.style.display = 'block'; } else { el.style.display = 'none'; }"
                                   style="display: flex" data-off-name="{{lte_name}}" data-on-name="{{lt_name}}">
                                    <span class="text-monospace">&lt;</span>
                                </a>
                            </ul>
                            <input name="{%if lte_val %}{{lte_name}}{% else %}{{lt_name}}{%endif%}"
                                   class="form-control"
                                   type="number" value="{%if lte_val %}{{lte_val}}{% else %}{{lt_val}}{%endif%}"
                                   placeholder="{% trans " Enter Number" %}"/>
                        </div>
                    </div>
                </div>


                <button type="submit" class="btn btn-success btn-sm">{% trans "Apply" %}</button>
                {% if spec.used_params %}
                <a class="btn btn-danger btn-sm" href="{{remove_url}}">{% trans "Clean" %}</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>