{% extends "xadmin/edit_inline/base.html" %}
{% load i18n xadmin_tags crispy_forms_tags %}

{% block box_content_class %}{{ block.super }}{% endblock box_content_class %}

{% block formset_form %}
  <div class="card formset-row">
    <div class="card-header">
      {% if formset.formset.can_delete %}
        <a class="delete-row float-right"><i class="fa fa-times"></i></a>
      {% endif %}
      <a class="card-toggle" data-toggle="collapse" role="button"
         data-parent="#{{ formset.css_id }}-{{inline_style}}" href="#{{ prefix }}-{{ forloop.counter0 }}-body"
         aria-expanded="{% if fs.is_bound and fs.is_valid %}false{% else %}true{% endif %}">
          <b>{{ formset.opts.verbose_name|title }}:</b>&nbsp
          {% if fs.instance.pk %}
            {{ fs.instance }}
            <a class="float-right" title="View details" rel="tooltip" href="{{ fs.detail_url }}">View</a>
          {% else %}
            #<span class="formset-num">{{ forloop.counter }}</span>
          {% endif %}
      </a>
    </div>
    <div class="card-collapse collapse{% if fs.is_bound and not fs.is_valid %} show{% endif %}"
         id="{{ prefix }}-{{ forloop.counter0 }}-body">
      <div class="card-body formset-form">
        {% crispy fs formset.formset.helper %}
      </div>
    </div>
  </div>
{% endblock formset_form %}
{% block formset_empty %}
  <div class="card formset-row empty-form">
    <div class="card-header bg-white">
      {% if formset.formset.can_delete %}
          <a class="delete-row float-right"><i class="fa fa-times"></i></a>
      {% endif %}
      <a class="card-toggle" data-toggle="collapse" data-parent="#{{ formset.css_id }}-{{inline_style}}" href="#{{ prefix }}-__prefix__-body">
        <b>{{ formset.opts.verbose_name|title }}:</b>&nbsp;
          {% if fs.instance.pk %}{{ fs.instance }}{% else %}#<span class="formset-num">{{ forloop.counter }}</span>{% endif %}
      </a>
    </div>
    <div class="card-collapse collapse" id="{{ prefix }}-__prefix__-body">
      <div class="card-body formset-form">
        {% crispy formset.formset.empty_form formset.formset.helper %}
      </div>
    </div>
  </div>
{% endblock formset_empty %}