{% load i18n xadmin_tags %}
<div class="dropdown bookmarks">
  <a href="#"  id="drop-bookmark" title="{{bk_menu_title}}" class="dropdown-toggle btn" role="button"
     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-book" title="{{ bk_menu_title|truncatechars:9 }}"></i>
      <span class="d-md-none d-lg-inline-block">{{ bk_menu_title|truncatechars:9 }}</span>
  </a>
  <div id="bookmark-menu" class="dropdown-menu" aria-labelledby="drop-bookmark">
    {% if bk_has_selected %}
        <a class="dropdown-item" href="{{ bk_list_base_url }}">
            <i class="fa fa-blank"></i> {% trans "Clean Bookmarks" %}</a>
        <div class="dropdown-divider"></div>
    {% endif %}
    {% for bk in bk_bookmarks %}
        <div class="d-flex justify-content-between align-items-center mt-1">
            <a class="dropdown-item {% if bk.selected %}active {% endif %}{% if bk.edit_url %}with_menu_btn{% endif %}" title="{{ bk.title }}"
               href="{{bk.url}}" title="{{bk.title}}"><i class="fa fa-bookmark"></i> {{bk.title}}
            </a>
            {% if bk.edit_url and has_change_permission_bookmark %}
                <a href="{{ bk.edit_url }}" class="btn btn-outline-success btn-sm mr-4">
                    <i class="fa fa-pencil-alt"></i>
                </a>
            {% endif %}
        </div>
    {% empty %}
        <span class="dropdown-item-text text-muted">{% trans "No Bookmarks" %}</span>
    {% endfor %}

  {% if not bk_has_selected and bk_current_qs and has_add_permission_bookmark %}
      <div class="dropdown-divider add-bookmark"></div>
      <div class="dropdown-submenu add-bookmark text-align-center">
        <a href="#"><i class="fa fa-plus"></i> {% trans "New Bookmark" %}</a>
          <div class="popoverx right dropdown-menu">
              <div class="arrow"></div>
              <h6 class="popover-header text-nowrap">{% trans "Save current page as Bookmark" %}</h6>
              <div class="popover-body m-1">
                  <form id="bookmark_form" method="post" action="{{ bk_post_url }}" {% view_block 'form_tag_attrs' %}>
                      {% csrf_token %}
                      <div class="d-flex flex-column">
                      <input type="hidden" name="query" value="{{ bk_current_qs }}"/>
                      <input name="title" type="text" class="form-control mb-2 mw-100"
                             placeholder="{% trans "Enter bookmark title" %}…"/>
                      <button class="btn btn-success" type="submit"
                              data-loading-text="{% trans "Waiting" %}...">{% trans "Save Bookmark" %}</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  {% endif %}

  </div>
</div>
