{% extends "xadmin/views/model_form.html" %}
{% load i18n %}

{% load xadmin_tags %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
{% if account_view %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="{% url 'xadmin:index' %}">{% trans 'Home' %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Change password' %}</li>
    </ol>
</nav>
{% else %}
<nav aria-label="breadcrumb">
   <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'xadmin:index' %}">{% trans 'Home' %}</a>
    </li>
    <li class="breadcrumb-item">
        {% if has_view_permission %}
            <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        {% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    </li>
    <li class="breadcrumb-item">
        <a href="{% url opts|admin_urlname:'change' original.pk %}">{{ original|truncatewords:"18" }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{% trans 'Change password' %}</li>
    </ol>
</nav>
{% endif %}
{% endblock %}

{% block content %}
<form action="{{ form_url }}" class="exform" method="post" id="{{ opts.model_name }}_form" {% view_block 'form_tag_attrs' %}>{% csrf_token %}{% block form_top %}{% endblock %}
  {% if errors %}
    <div class="alert alert-danger">
    {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </div>
    {{ form.non_field_errors }}
  {% endif %}
    <div class="card border-light mt-4">
        <div class="card-header bg-transparent border-info text-info">
            {% if account_view %}
                {% trans "Enter your new password." %}
            {% else %}
                {% blocktrans with username=original|truncatewords:"18" %}Enter a new password for the user
                    <strong>{{ username }}</strong>.
                {% endblocktrans %}
            {% endif %}
        </div>
        <div class="card-body">
            {% crispy form %}
        </div>
        <div class="card-footer">
            <div class="form-actions clearfix">
            <button class="btn btn-primary" type="submit">{% trans 'Change password' %}</button>
            </div>
        </div>
    </div>
  </div>
</form>
<script type="text/javascript">
    var $old_password = $("#id_old_password");
    if ($old_password) $old_password.focus();
</script>
{% endblock %}
